.error-message {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    z-index: 9999;
    opacity: 1;
    transition: all 0.5s;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}
  
.error-message p {
    margin: 0;
    width: 100%;
}
  
.error-message button {
    background-color: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    outline: 0;
    padding: 0;
}
  
.error-message button:hover {
    color: #ddd;
}
  